@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: linear-gradient(135deg, #71b7e6, #9b59b6);;
}
body{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    background-color:  linear-gradient(135deg, #71b7e6, #9b59b6);
  
}

.button input{
margin-left: 30%;
  height: 50%;
  width: 40%;
  padding-left: 20px;
  padding-right: 20px ;
  text-align: center;
  align-items: center;

  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }



.select-menu{
    width: 380px;
    margin: 140px auto;
}
.select-menu .select-btn{
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    color: #71b7e6;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #F2F2F2;
}
.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
}
select {
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: cursive, sans-serif;
  outline: 0;
  background: #032d3dd0;
  color: #fff;
  border: 1px solid crimson;
  padding: 4px;
  border-radius: 9px;
}
.text{
  text-align:start;
  text-decoration: solid;
  font-size: large;
  font-weight: 900;
  text-transform: capitalize;
  padding: 0.5%;
  
}

.Image{
  margin-top: 10%;
  /* margin-left: 10%; */
  width: 50%;
  height:auto;
  size: 90%;
}
